---
import TitleBar from "../../../components/TitleBar.astro";
import Layout from "../../../layouts/Layout.astro";
import { readProducts } from "../../../util/provider";

const code = Astro.params.code;

export async function getStaticPaths() {
  const products = await readProducts();

  return products.map((product) => ({
    params: { code: product.code },
  }));
}

const products = await readProducts();

const product = products.find((product) => product.code === code)!;

export const prerender = true;
---

<Layout title="Producto">
  <TitleBar />
  <div class="sm:w-[85%] md:w-[70%] mx-auto px-3">
    <h1 class="text-xl">{product.name}</h1>
    <p>{product.code}</p>
    <p>{product.description}</p>
  </div>
</Layout>
