---
import Selector from '../components/Selector';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<h1>Guía de selección</h1>
	<Selector client:load />
</Layout>
