---
export interface Props {
    title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

	:root {
		--color-primary: #0d9fcf;
	}

	.bg-primary {
		background-color: var(--color-primary);
	}

	.border-primary {
		border-color: var(--color-primary);
	}

	.text-primary {
		color: var(--color-primary);
	}

	* {
		box-sizing: border-box;
		outline: transparent;
	}
	html {
		font-family: "Poppins", sans-serif !important;
		background-color: #f6f6f6;
	}

	.container {
		margin: 0 auto;
		object-position: center;
		padding: 0 22.5px;
	}

	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	/* For IE, Edge and Firefox */
	.scrollbar-hide {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
</style>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7TQ2M3K95M"></script>
<script lang="js">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7TQ2M3K95M');
</script>